
.success-count {
  font-size: 4rem;
  line-height: 10rem;
  /*margin-top: 0.5em*/;
}

.sr-dice {
  font-size: 3rem;
}

#cot_d100 {
  margin-top: 1em;
}

.cot-button-wrapper {
  line-height: 3;
}

.cot-result {
  font-size: larger;
}

.dice-display {
  line-height: 5.5rem;
  text-align: center;
  /* padding: 3rem 3rem*/;
  font-size: 2rem;
  /*margin-top: 0.5em*/;
}

#sr_result {
  border-style: none;
  border-width: thick;
  border-color: black;
}
